@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap");
:root {
  --common-font: "Hind Siliguri", sans-serif;
  --common-color: #0984e3;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Global styles Start */
body {
  font-family: var(--common-font);
}
.size {
  width: 65vw;
  margin: 0 auto;
}
/* Global styles end */
/* Header Section Start */
.nav-bar-bg-color {
  background: #0984e3;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.nav-bar h2 {
  color: #ffffff;
  cursor: pointer;
}
.nav > ul {
  display: flex;
  gap: 18px;
}
.nav > ul > li {
  list-style: none;
}
.nav > ul > li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #ffffff;
  transition: all 0.2s;
}
.nav > ul > li a:hover {
  color: #2d3436;
}
.nav > ul > li a > i {
  font-size: 1.5rem;
}
/* Hero Section start */
.hero {
  display: flex;
  align-items: center;
}
.hero-info {
  flex: 1;
}
.hero-info-title {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 24px;
}
.hero-info-para {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 24px;
}
.hero-btns {
  display: flex;
  gap: 24px;
}
.hero-btn {
  font-family: var(--common-font);
  background-color: var(--common-color);
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 30px;
  border: navajowhite;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.2s;
}
.hero-btn:hover {
  color: var(--common-color);
  border: 1px solid var(--common-color);
  background: transparent;
}
.hero-btn-2 {
  font-family: var(--common-font);
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 30px;
  border: 1px solid var(--common-color);
  color: var(--common-color);
  background: transparent;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s;
}
.hero-btn-2:hover {
  border: none;
  background-color: var(--common-color);
  color: #ffffff;
}
.hero-img {
  flex: 1;
}
.hero-img > img {
  width: 90%;
}
/* Header Section end */
/* Main section start  */
/* Main section end  */
