@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap");
:root {
  --common-font: "Hind Siliguri", sans-serif;
  --common-color: #0984e3;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Global styles Start */
body {
  font-family: var(--common-font);
}
.size {
  width: 65vw;
  margin: 0 auto;
}
.mt {
  margin-top: 10vh;
}
hr {
  border: 1px solid var(--common-color);
}
/* Global styles end */
/* Header Section Start */
.nav-bar-bg-color {
  background: #0984e3;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.nav-bar h2 {
  color: #ffffff;
  cursor: pointer;
}
.nav > ul {
  display: flex;
  gap: 18px;
}
.nav > ul > li {
  list-style: none;
}
.nav > ul > li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #ffffff;
  transition: all 0.2s;
}
.nav > ul > li a:hover {
  color: #2d3436;
}
.nav > ul > li a > i {
  font-size: 1.5rem;
}
/* Hero Section start */
.hero {
  display: flex;
  align-items: center;
}
.hero-info {
  flex: 1;
}
.hero-info-title {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 24px;
}
.hero-info-para {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 24px;
}
.hero-btns {
  display: flex;
  gap: 24px;
}
.hero-btn {
  font-family: var(--common-font);
  background-color: var(--common-color);
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 30px;
  border: navajowhite;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.2s;
}
.hero-btn:hover {
  color: var(--common-color);
  border: 1px solid var(--common-color);
  background: transparent;
}
.hero-btn-2 {
  font-family: var(--common-font);
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 30px;
  border: 1px solid var(--common-color);
  color: var(--common-color);
  background: transparent;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s;
}
.hero-btn-2:hover {
  border: none;
  background-color: var(--common-color);
  color: #ffffff;
}
.hero-img {
  flex: 1;
}
.hero-img > img {
  width: 95%;
}
/* Header Section end */
/* Main section start  */
/* History section start  */
.history {
  display: flex;
  gap: 5%;
  align-items: center;
}
.history-img {
}
.history-img > img {
  width: 30vw;
  border-radius: 7px;
}
.history-info-title {
  font-size: 2rem;
  font-weight: 700;
}
.history-info-para {
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 18px;
}
.history-btn {
  font-family: var(--common-font);
  background-color: var(--common-color);
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 30px;
  border: navajowhite;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.2s;
}
/* Students and Teacher Section start  */
.all-stu-teacher-cards {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 10px 0;
}
.stu-tea-card {
  background-color: var(--common-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 20px 0;
  transition: all 0.4s;
}
.stu-tea-card:hover {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.stu-tea-card > i {
  font-size: 2rem;
}
.card-title {
  font-size: 2.5rem;
}
.card-para {
  font-size: 18px;
}

/* Teacher Section Start  */
.teacher-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 2.5rem;
}
.main-teacher {
  display: flex;
  gap: 24px;
  align-items: center;
}

.teacher-img > img {
  width: 20vw;
  border-radius: 5px;
}
/* .teacher-info {
  border-left: 5px solid var(--common-color);
  padding-left: 10px;
} */
.teacher-name {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.name-title {
  font-family: var(--common-font);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 24px;
  line-height: 20px;
  border-left: 5px solid var(--common-color);
  padding-left: 10px;
  margin-left: 10px;
}
.teacher-para {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: justify;
}
/* all teacher section start */
.all-teachers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-top: 50px;
}
.teachers {
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 15vw;
  cursor: pointer;
  transition: all 0.4s;
}
.teachers:hover {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.all-teacher-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 16px;
}
.all-teacher-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.all-teacher-info {
  text-align: left;
  border-left: 5px solid var(--common-color);
  padding-left: 10px;
}
.name {
  font-size: 1.1rem;
  font-weight: 600;
}
.all-name-para {
  font-size: 1rem;
}
.see-more {
  color: var(--common-color);
  font-size: 18px;
  font-family: var(--common-font);
  text-align: right;
  cursor: pointer;
  margin-top: 20px;
}

.see-more > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: right;
}
/* Main section end  */
